@font-face {
    font-family: 'Moon-Light';
    src: url(../public/Moon-Light.ttf) format('truetype');
  }

@font-face {
    font-family: 'Moon-Bold';
    src: url(../public/Moon-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Moon-Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

